<!-- Button trigger modal -->

<!-- Modal -->
<div
  class="modal fade"
  id="addMovie"
  tabindex="-1"
  role="dialog"
  aria-labelledby="modelTitleId"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Add Movie</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form [formGroup]="form">
          <div class="form-group">
            <label for="">Tên phim</label>
            <input type="text" class="form-control" formControlName="tenPhim" />
          </div>
          <div class="form-group">
            <label for="">Bí danh</label>
            <input type="text" class="form-control" formControlName="biDanh" />
          </div>
          <div class="form-group">
            <label for="">Trailer</label>
            <input type="text" class="form-control" formControlName="trailer" />
          </div>
          <div class="form-group">
            <label for="">Hình ảnh</label>
            <!-- input type là file thì không thể sử dụng formControlName vì nó lấy ra value là đường dẫn của hình ảnh trong máy tính, mình cần lấy ra file nên sử dụng event.target.files -->
            <input
              type="file"
              class="form-control"
              (change)="handleUploadFile($event)"
            />
          </div>
          <div class="form-group">
            <label for="">Mô tả</label>
            <input type="text" class="form-control" formControlName="moTa" />
          </div>
          <div class="form-group">
            <label for="">Ngày khởi chiếu</label>
            <input
              type="text"
              class="form-control"
              formControlName="ngayKhoiChieu"
            />
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">
          Huỷ
        </button>
        <button
          type="button"
          class="btn btn-primary"
          (click)="handleAddMovie()"
        >
          Thêm phim
        </button>
      </div>
    </div>
  </div>
</div>
