<div class="row bg-black">
  <div class="col-2 admin-right ">
    <div class="right-top">
      <p class="d-flex image">
        <img src="https://tix.vn/app/assets/img/icons/web-logo.png" alt="" class="rounded-circle " routerLink="/">
      </p>
      <hr class="w-50 ">
    </div>
    <div class="py-5">
     <div>
      <button class="w-100 my-1" routerLink="/admin/users"> Admin</button>
      <button class="w-100 my-1"> Users</button>
      <button class="w-100 my-1" routerLink="/admin/movies">Movies</button>
     </div>
    </div>
  </div>
  <div class="col-sm-10 admin-left" >
    <div class="text-center">
      <h1>Sidebar</h1>
    </div>
    <router-outlet></router-outlet>
  </div>
</div>