.admin-right{
    margin: 0;
    padding: 0;
    background-color: lightgoldenrodyellow;
    .right-top{
        .image{            
            justify-content: center;
        }
    }
    hr{
      height: 3px;
        background-color: black;
        margin: 0 auto; 
    }
}
.admin-left{
    margin: 0;
    padding: 0;
    width: 98%;
}