<header id="header">
    <a href="#" class="logo">
        <img src="https://tix.vn/app/assets/img/icons/web-logo.png" alt="">
    </a>
    <nav class="header__menu pl-5">
        <ul>
            <li>
                <a href="#">Lịch chiếu</a>
            </li>
            <li>
                <a href="#">Cụm rạp</a>
            </li>
            <li>
                <a href="#">Tin tức</a>
            </li>
            <li>
                <a href="#">Ứng dụng</a>
            </li>
        </ul>
    </nav>
    <mat-icon svgIcon="thumbs-up" ></mat-icon>

    <div class="d-flex align-items-center" *ngIf="currentUser.taiKhoan; else dangnhap">    
        <button mat-button [matMenuTriggerFor]="menu">
            <img src="../../../assets/img/iconUser.jpg" alt="" class="img-fluid">    
            {{ currentUser.hoTen }}
        </button>
        <mat-menu #menu="matMenu">
            <button mat-menu-item (click)='thongTinUser()' routerLink='/thongTin'>Infomation</button>
            <button mat-menu-item (click)="lognOutUser()">Logn out</button>
          </mat-menu>
        
      </div>
      <ng-template #dangnhap>
        <a href="#" class="signin"  routerLink="/signin">
            <img class="img-signin mr-2" src="https://tix.vn/app/assets/img/avatar.png" width="30px" alt="">
            <span >Đăng nhập</span>
          </a>
      </ng-template>
</header>